@{
    ViewData["Title"] = "AccountSettings";
    ViewData["PageName"] = "page_AccountSettings";
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>
                    Account settings page
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <p>
                       Set avatar - change name - Change password - etc
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
