@{
    ViewData["Title"] = "Welcome";
    ViewData["PageName"] = "aspnetcore_welcome";
    ViewData["Heading"] = "<i class='fal fa-graduation-cap'></i> Welcome: <span class='fw-300'>SCMVCWebAppfor .NET Core</span>";
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>
                    Welcome to your dashboard! 
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <p>
                        Check on your current projects that we are diligently working on, submit requests for new services, or check your billing status!
                    </p>
                    <h3>
                        Total progress:
                    </h3>
                    <p>
                        Our team has completed 45% of objectives required for your projects.
                    </p>
                    <p>
                        We have completed 25% of fakecompany.com's security features and 20% of fakecompany.com's database management system.'
                    </p>
                    
                    <h3>Charts and graphs</h3>
                    <p>
                        Pretend pie chart, bar graph
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <h2>SiwiecTech</h2>
                    <p>
                        Our company is dedicated to providing you, the client, with the best service the IT world can offer, whether it be penetration testing your services or setting up a state of the art database management system for you or your company.
                    </p>
                    <p>
                       This is our pledge, and this philosophy has been our policy for as long as siwiectech has been operational.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="alert alert-success">
            <h5 class="mb-0">our company is dedicated  <strong>SiwiecTech</strong>.</h5>
        </div>
    </div>
</div>